.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.block {
    background-color: #9ae8c5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.symbol {
    background-color: antiquewhite;
}