.default {

    height: 40px;
    background: #535354;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    box-shadow: 0 3px 5px #535354;
    margin-bottom: 1rem;
    padding: 0.2rem 1rem;
}

.red {
    background: cyan;
    font-style: oblique;

}