:root {
    --primary-color: #6d7278;
    --secondary--color: black;
    --third--color: white

}


body {
    margin: 0;
}

h1 {

}

h2 {

}

h3 {

}

a {

}

button {
    background: var(--primary-color)
}

svg {
    background: var(--third--color);
    fill: var(--primary-color);
}

