.account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.account_body {
    border-radius: 50%;
    background-color: #9ae8c5;
    margin-bottom: .2rem;
}

.account_currency {
    color: white;
    padding: 1rem;
}

.account_title {
    font-weight: var(--global--font-weight-title);
    margin-bottom: .2rem;
}

.account_sum {
    padding: .2rem .5rem;
    background-color: #e0e0e0;
    border-radius: 5px;
}