.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    line-height: 1.25;
}

.card {
    width: 100%;
    max-width: 280px;
    height: 187px;
    padding: 12px 15px;
    background: #f6f6f6;
    border-radius: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    text-align: left;
}

.description {
    color: var(--primary-color);
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
}

.input {
    height: 50px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
    padding: 0 10px;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    box-sizing: border-box;
}

.input:focus-within {
    border: 1px solid #777;
}



.input_Header{
    margin-bottom: 1px;
    color: #6d7278;
    font-weight: 400;
    font-size: 10px;
    line-height: 130%;
    text-align: left;
}

.card_Input input {
    width: 100%;
    height: 20px;
    margin: 0;
    padding: 0;
    color: var(--primary-color);
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    border: none;
    font-family: inherit;
    line-height: inherit;
}

.card_Input input:focus {
    outline: none;
}

.card_Input input::placeholder {
    opacity: .5;
}