.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container {
    width: 100%;
    max-width: 280px;
    height: 187px;
    padding: 12px 15px;
    background: #f6f6f6;
    border-radius: 10px;
    border: 1px solid black
}