.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: var(--secondary--color)
}

.circle {
    color: var(--third--color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    margin-bottom: .2rem;
}

.description {
    margin-bottom: .2rem;
}

.sum {
    background-color: #c3c3c3;
    padding: 0.2rem 0.5rem;
    border-radius: 3px;
}

