.square {
    /* This will come in handy later to center the contents */
    position: relative;
    width: 100%;
    height: 100%;
   /* border: 1px solid #bbe7cf;*/
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.isDropping {
    position: relative;
}

.isDragging {
   /* height: 100%;*/
    cursor: move;
    display: flex;
    justify-content: center;
    align-items: center;
}

.expectedSquare {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    z-Index: 1;
    opacity: 0.5;
    border: 5px solid var(--primary-color)
}